---
// src/components/Form.astro
interface Props {
  userName?: string;
  userSchool?: string;
  userPhone?: string;
}

const { userName = "", userSchool = "", userPhone = "" } = Astro.props;
---

<md-dialog class="dialog" id="edit-profile">

    <div slot="headline">Edit Profil</div>

    <form slot="content" id="form-id" method="dialog">
        <md-outlined-text-field label="Nama Lengkap" required minlength="4" value={userName} name="name"></md-outlined-text-field>
        <md-outlined-text-field label="Universitas/Sekolah" required minlength="4" value={userSchool} name="school"></md-outlined-text-field>
        <md-outlined-text-field label="Nomor Telefon" required minlength="4" type="tel" value={userPhone} name="phone"></md-outlined-text-field>
    </form>

    <div slot="actions">
        <md-filled-button form="form-id" id="submit-button">SIMPAN</md-filled-button>
    </div>
</md-dialog>

<script>
    import "material/textfield/outlined-text-field";
    import "material/button/filled-button";
    import "material/dialog/dialog";

    const submitButton = document.getElementById("submit-button");

    const submitProfileForm = async () => {
        const form = document.getElementById("form-id") as HTMLFormElement;
        const name = (form.querySelector('[name="name"]') as HTMLInputElement).value;
        const school = (form.querySelector('[name="school"]') as HTMLInputElement).value;
        const phone = (form.querySelector('[name="phone"]') as HTMLInputElement).value;

        try {
            const response = await fetch("/api/profile", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ name, school, phone }),
            });

            if (!response.ok) {
                const errorData = await response.json();
                alert(`Error updating profile: ${errorData.error} - ${errorData.details}`);
                return;
            }

            const dialog = document.querySelector("#edit-profile") as any;
            dialog.close = true;
            window.location.reload();

        } catch (error) {
            console.error("Error updating profile:", error);
            alert("An unexpected error occurred.");
        }
    };

    if (submitButton) {
        submitButton.addEventListener('click', submitProfileForm);
    }
</script>

<style>
    .dialog {
        display: flex;
        flex-direction: column;
        margin: auto;
        height:min-content;

    }

    #form-id {
        display: flex;
        flex-direction: column;
        gap:1em;
    }
</style>